<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <div>
            {% if is_granted("IS_AUTHENTICATED_OPENID") %}
                logged in via an openid provider:
                <a href="{{ path('fp_openid_security_logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('fp_openid_security_login') }}">Login</a>
            {% endif %}
        </div>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block fp_openid_content %}
            {% endblock fp_openid_content %}
        </div>
    </body>
</html>
