<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php" color="true">
    <testsuites>
        <testsuite name="FpOpenIdBundle">
            <directory suffix="Test.php">./</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="./Functional/app" />
    </php>
</phpunit>