<p>Login with OpenId</p>

<form action="/login" method="get">
    <div>
        <input type="hidden" name="action" value="verify" />
        <input type="text" name="openid_identifier" value="http://" />
        
        <input type="submit" value="Sign-In" />
    </div>
</form>


